.protected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f4f8;
}

.title {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: bold;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-input {
  padding: 10px;
  font-size: 1em;
  width: 300px;
  margin-bottom: 20px;
  border: 2px solid #d1d5da;
  border-radius: 5px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #3f72af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.submit-btn:hover {
  background-color: #2f4a8a;
}

.return-home {
  margin-top: 20px;
  color: #3f72af;
  text-decoration: none;
  font-size: 1em;
}
